body, ul {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  
  .todo-container {
    max-width: 400px;
    margin: 20px auto;
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
  }
  
 .task-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .add-task-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .add-task-btn:hover {
    background-color: #45a049;
  }
  
  /* Task list */
  .task-list {
    list-style-type: none;
    padding: 0;
  }
  
  .task-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
  }
  
  .task-item:last-child {
    border-bottom: none;
  }
  
  .task-item.completed {
    text-decoration: line-through;
    background-color: #f2f2f2;
  }
  